.mobile-small-only {
    @include above-mobile-small {
        display: none !important;
    }
}
.mobile-only {
    @include above-mobile {
        display: none !important;
    }
}

.mobile-large-only {
    @include above-mobile-large {
        display: none !important;
    }
}

.tablet-only {
    @include above-tablet {
        display: none !important;
    }
}

.small-desktop-only {
    @include above-small-desktop {
        display: none !important;
    }
}

.medium-desktop-only {
    @include above-medium-desktop {
        display: none !important;
    }
}

.large-desktop-only {
    @include above-large-desktop {
        display: none !important;
    }
}

.above-large-desktop {
    @include large-desktop {
        display: none !important;
    }
}

.above-medium-desktop {
    @include medium-desktop {
        display: none !important;
    }
}

.above-small-desktop {
    @include small-desktop {
        display: none !important;
    }
}

.above-tablet {
    @include tablet {
        display: none !important;
    }
}

.above-mobile-large {
    @include mobile-large {
        display: none !important;
    }
}

.above-mobile {
    @include mobile {
        display: none !important;
    }
}
.above-mobile-small {
    @include mobile-small {
        display: none !important;
    }
}
