.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.m-t-0 {
    margin-top: 0;
}

.p-t-0 {
    padding-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.p-b-0 {
    padding-bottom: 0;
}



/* --------------------------------
    Padding
-------------------------------- */

.p-m {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;
}

.p-l {
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
}

.p-s {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
}

.p-t-s {
    padding-top: $spacing-sm;
}

.p-t-m {
    padding-top: $spacing-md;
}

.p-t-l {
    padding-top: $spacing-lg;
}

.p-b-s {
    padding-bottom: $spacing-sm;
}

.p-b-m {
    padding-bottom: $spacing-md;
}

.p-b-l {
    padding-bottom: $spacing-lg;
}

.p-l-s {
    padding-left: $spacing-sm;
}

.p-l-m {
    padding-left: $spacing-md;
}

.p-l-l {
    padding-left: $spacing-lg;
}

.p-r-s {
    padding-right: $spacing-sm;
}

.p-r-m {
    padding-right: $spacing-md;
}

.p-r-l {
    padding-right: $spacing-lg;
}



/* --------------------------------
    margin
-------------------------------- */

.m-s {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
}

.m-m {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
}

.m-l {
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
}

.m-t-s {
    margin-top: $spacing-sm;
}

.m-t-m {
    margin-top: $spacing-md;
}

.m-t-l {
    margin-top: $spacing-lg;
}

.m-b-s {
    margin-bottom: $spacing-sm;
}

.m-b-m {
    margin-bottom: $spacing-md;
}

.m-b-l {
    margin-bottom: $spacing-lg;
}

.m-l-s {
    margin-left: $spacing-sm;
}

.m-l-m {
    margin-left: $spacing-md;
}

.m-l-l {
    margin-left: $spacing-lg;
}

.m-r-s {
    margin-right: $spacing-sm;
}

.m-r-m {
    margin-right: $spacing-md;
}

.m-r-l {
    margin-right: $spacing-lg;
}
